@using YXP.PaiMobile.Models;
@{    var model = ViewBag.DetailModel;  }
@if (model.MyTenderPrice == "0")
{
    <section class="box biding" id="waitBid_01">
        <div class="bid-status">
            <a class="s-1 bg-org">等待加价</a>
        </div>
        <div class="bid-pri-cen2">
            <h5 class="tips-txt">报价已结束，您未参与报价！</h5>
        </div>
    </section>
}
else
{
    <section class="box biding" id="waitBid_02">
        <div class="bid-status">
            <a class="s-1 bg-org">等待加价</a>
        </div>
        <div class="bid-pri-lef">
            <div class="pri-p1">
                <span class="p1-n1">当前价</span>
                @if (model.IsNoReserve == "1")
                {
                    if (StrUntils.ConvertToDecimal(model.HighPrice) > 0)
                    {
                        <span class="p1-n2 c-org" id="currentPrice">@(StrUntils.ConvertToDecimal(model.HighPrice))</span>
                    }
                    else
                    {
                        <span class="p1-n2 c-org" id="currentPrice">@(StrUntils.ConvertToDecimal(model.TenderHighPrice))</span>
                    }
                }
                else
                {
                    if (StrUntils.ConvertToDecimal(model.HighPrice) > 0)
                    {
                        <span class="p1-n2 c-org" id="currentPrice">@(StrUntils.ConvertToDecimal(model.HighPrice))</span>
                    }
                    else if (StrUntils.ConvertToDecimal(model.MyTenderPrice) == 0)
                    {
                        <span class="p1-n2 c-org" id="currentPrice">@(StrUntils.ConvertToDecimal(model.StartPrice))</span>
                    }
                    else
                    {
                        <span class="p1-n2 c-org" id="currentPrice">@(StrUntils.ConvertToDecimal(model.MyTenderPrice))</span>
                    }
                }
                <span class="p1-n3">万</span>
            </div>
            <div class="pri-p2">
                <span class="p1-n1">交易费</span>
                <span class="p1-n2" id="jyPrice">+@((StrUntils.ConvertToDecimal(model.BuyerTradeFee) / 10000).ToString("f2"))</span>
                <span class="p1-n3">万</span>
            </div>
            <div class="pri-p2">
                <span class="p1-n1">交付费</span>
                <span class="p1-n2" id="jfPrice">+@((StrUntils.ConvertToDecimal(model.BuyerAgentFee) / 10000).ToString("f2"))</span>
                <span class="p1-n3">万</span>
            </div>
            <div class="pri-p3 pa">
                <span class="p1-n1">合手价</span>
                <span class="p1-n2" id="hsPrice">@(model.BuyerTotalFee)</span>
                <span class="p1-n3">万</span>
            </div>
        </div>
        <div class="bid-pri-rit3 mg-t-2">
            <h5 class="tips-txt mg-b-half">您的报价金额：<span class="sp1">@(model.MyTenderPrice)</span> 万元<br /><span class="sp2"></span></h5>
           
        </div>
    </section>
}